<div>
  <h5>Name</h5>
  <%= f.text_field :name, required: true %>
</div>

<div>
  <h5>Description</h5>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.submit "Submit", class: "custom-button"%>
</div>