<%= form_for [@current_user, @collection], :html => { :multipart => true } do |f| %>

  <div>
    <h5>Name</h5>
    <%= foo.text_field :name, required: true %>
  </div>

  <div>
    <h5>Description</h5>
    <%= foo.text_field :description %>
  </div>

  <div>
    <%= foo.submit "Submit", class: "custom-button"%>
  </div>

<% end %>