<div class="container">

  <% @artists.each do |artist| %>
    <div class="artist-container">
      <h3><a href="<%=artist_path(artist.id)%>"><%= artist.name %></a></h3>
    </div>
  <% end %>

</div>
