<div class="container">
  <h1>the user's show page</h1>

  <div>
    <%= @user.name %>
  </div>

  <% if @collections && @collections.each do |collection| %>
    <div class="collection-container">
      <%= collection.name %>
    </div>
  <% end %>
  <% end %>

</div>
