<style> nav { display:none; } </style>

<a id="welcome_btn" href=""> Galleria Mia</a>
<div class="slider fullscreen">
   <ul id="blur" class="slides">
     <li>
       <img class="responsive-img" src="http://webneel.com/daily/sites/default/files/images/daily/10-2013/4-leonardo-da-vinci-mona-lisa.preview.jpg"> <!-- random image -->
       <div class="caption center">
         <!-- <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
     <li>
       <img class="responsive-img" src="http://classconnection.s3.amazonaws.com/317/flashcards/808317/png/untitled1318221534589.png"> <!-- random image -->
       <div class="caption">
         <!-- <h3>Left Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
     <li>
       <img class="responsive-img" src="http://iws2.collin.edu/lstern/Lange-MigrantMother.jpg"> <!-- random image -->
       <div class="caption center">
         <!-- <h3>Right Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
     <li>
       <img class="responsive-img" src="http://www.theruinsof.com/goodies/the_great_wave_1680x1050.png"> <!-- random image -->
       <div class="caption center">
         <!-- <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
       </div>
     </li>
   </ul>
 </div>
