@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';



#blur img {
  -webkit-filter: blur(10px) grayscale(.5) opacity(.7);
}

#welcome_btn {
  padding: inherit;
  font-size: 2em;
  display: inline-block;
  margin-top: 250px;
  text-align: left;
  background-color: inherit;
  color: white;
  border: white solid;
}
