@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';




body{
  background-color: #B1BABF;
  position:relative;
  margin-bottom: auto;
}

#show{
  font-family: 'Righteous', sans-serif;
}


nav{
  background-color: gray;
}

#collection_img{
  display: inline-block;
}

.settings{
  background-color: gray;
  margin-top: 4px;
  padding-left: 4px;
}



.icon{
    position: relative;
    bottom: 3px;
}

#blur img {
  -webkit-filter: blur(10px) grayscale(.5) opacity(.7);
}
.tabs a{
  font-size: 2em;
}

#welcome_btn {
  padding: 1em;
  padding-bottom: 2em;
  font-family: 'Righteous', sans-serif;
  font-size: 2em;
  margin-top: 150px;
  text-align: center;
  background-color: inherit;
  color: white;
  border: white solid;
}

@media (max-width: 767px) {
  nav {
    display: none;
  }
}

@media (min-width: 767px) {
  footer {
    display: none;

  }
}

footer {
   background-color: #5E5E5E;
   position:fixed;
   left:0px;
   bottom:0px;
   height: 75px;
   width:100%;
}
footer h5{
  display: inline;
}

#foot_link li{
  display: inline-block;
}

#add{
  width: 1em;
}
