.card {
  background-color: #2D3E50;
}



// .tabs {
//     background-color: #2D3E50;
// }

.icon_color{
    color: #2D3E50;
}

.tabs .indicator{
  background-color: #2D3E50;
}

.settings{
  color: white;
  margin-top: 4px;
  background-color: #2D3E50;
  border: none;
  box-shadow: none !important;
}

.settings a{
  color: #fff;
}

.settings a:hover{
  color: #fff;
}

#tab_color{
  color: #2D3E50;
}

.user-header h1{
  display: inline-block;
}

#add{
  width: 1em;
}

#info {
  margin-left: 10px;
}

.hline {
  width:100%; height:1px; background: #fff
}
