.card {
  background-color: #2D3E50;
}

.icon_color{
    color: #2D3E50;
}

.tabs .indicator{
  background-color: #2D3E50;
}

.settings{
  color: white;
  margin-top: 4px;
  background-color: #2D3E50;
  border: none;
  box-shadow: none !important;
}

.settings a{
  color: #fff;
}

.settings a:hover{
  color: #fff;
}

#tab_color{
  color: #2D3E50;
}

.user-header h1{
  display: inline-block;
}

#add{
  width: 1em;
}

#info {
  margin-left: 10px;
}

.hline {
  width:100%; height:1px; background: #fff
}

#edit_button {
  margin-bottom: 5px;
}


#friend_card {
  background-color: #fff;
}

#friend_text {
  margin-left: 10px;
  color: #2D3E50;
}

#friend_line {
  background-color: #2D3E50;
}

#info_friends {
  background-color: #fff;
  margin-left: 10px;
}

.friend_link a{
  color: #2D3E50;
}

#email_link a {
  color: #fff;
}
